.roomlist {
  float: left;
  width: 400px;
  height: 100vh;
  background-color: #dee0e2;
}

.sidebar-list {
  color: #95979b;
  padding-top: 20px;
}

.rooms {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 2em;
  cursor: pointer;
}

/*.rooms:hover {
  text-decoration: underline;
}*/

.title {
  font-size: 2.5em;
  padding-left: 25px;
}

.new-room {
  float: right;
  transform: translateY(-75px);
  margin-right: 45px;
  background: none;
  cursor: pointer;
  outline: none;
  padding: .7em 1.7em .7em 1.7em;
  background-color: #c0f9b6;
  border: none;
  text-shadow: none;
  color: #333;
  border-radius: 5px;
}

.displayed {
  margin-left: 38px;
  display: inline-block;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 4px;
}

.displayed h2 {
  text-align: center;
}

.displayed h3 {
  text-align: center;
}

.displayed input {
  border-radius: 6px;
  margin-left: 10px;
}

.displayed .create-room {
  background: none;
  cursor: pointer;
  outline: none;
  padding: .7em 1.7em .7em 1.7em;
  background-color: #c0f9b6;
  border: none;
  text-shadow: none;
  color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.displayed .cancel {
  background: none;
  cursor: pointer;
  outline: none;
  padding: .7em 1.7em .7em 1.7em;
  background-color: #f9b6b6;
  border: none;
  text-shadow: none;
  color: #333;
  border-radius: 5px;
}

.hidden {
  display: none;
}
