.user-set button {
  margin-left: 20px;
  margin-top: 5px;
  background: none;
  cursor: pointer;
  outline: none;
  padding: .7em 1.7em .7em 1.7em;
  background-color: #f9b6b6;
  border: none;
  text-shadow: none;
  color: #333;
  border-radius: 5px;
}

.user-set button:first-of-type {
  background: none;
  cursor: pointer;
  outline: none;
  padding: .7em 1.7em .7em 1.7em;
  background-color: #c0f9b6;
  border: none;
  text-shadow: none;
  color: #333;
  border-radius: 5px;
}
